<div class="container-fluid" style="padding-top: 8%">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="alert alert-success" *ngIf="changeSuccess" role="alert">
          Success, your password is now changed!
        </div>
        <div class="alert alert-danger" *ngIf="changeSuccess === false" role="alert">
          Error, old password doesn't match!
        </div>
        <div class="loading" *ngIf="working"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <p class="text-center text-black-50">Change your password</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <input type="password" formControlName="oldPassword" name="oldPassword" id="oldPassword" class="form-control input-lg" placeholder="Old password">
            </div>
            <div class="form-group">
              <input type="password" formControlName="newPassword" name="newPassword" id="newPassword" class="form-control input-lg" placeholder="New password">
            </div>
            <div class="form-group">
              <input type="password" formControlName="repeatPassword" name="repeatPassword" id="repeatPassword" class="form-control input-lg" placeholder="Repeat password">
              <span style="color: red" *ngIf="passwordsMatch">Passwords must match!</span>
            </div>
            <div>
              <input type="submit" class="btn btn-success" [disabled]="!changePasswordForm.valid" value="Change!">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
